.QuoteGenerator {
  width: 70%;
  margin: 0 auto;
  border: orange dotted 2px;
  padding: 3% 10%;
}

.quoteTitle {
  font-size: 30px;
  /* margin-top: 20px; */
}
.quote {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 5%;
}
.newQuoteButton {
  margin-top: 5%;
}

.loading {
  /* font-size: 100px;
  color: red; */
}
