.dateContainer {
  // border: solid pink 2px;
  display: flex;
  justify-content: flex-end;
  // flex-wrap: nowrap;
}
.dayContainer {
  // border: solid pink 2px;
  margin-right: 5px;
}
.date {
  margin-right: 5px;
}
.time {
  // border: solid pink 2px;
}
